.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recognition-container {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

video, canvas {
  position: relative;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}
